*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    font-family:sans-serif;
}
nav{
    background: #222;
    padding:5px 20px;
}
nav ul{
    list-style-type:none;
}
nav a{
    color:white;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
    color:#ddd;
}
ul.menu li{
    font-size:16px;
    padding:15px 5px;
}
.menu li a{
    display:block;
}
.logo a{
    font-size:20px;
}
.logo{
    color:white;
}
.button.secondary{
    border-bottom:1px #444 solid;
}

/* MOBILE MENU */
.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

.toggle{
    order:1
}
.item.button{
    order:2;
}
.item{
    width: 100%;
    text-align:center;
    order:3;
    display:none;
}
.item.active{
    display:block;
}
.toggle{
    cursor:pointer;
}

.bars{
    background-color:#999;
    display:inline-block;
    height:2px;
    position:relative;
    width:18px;
}

.bars::before, .bars::after{
    background-color:#999;
    content:"";
    display:inline-block;
    height:2px;
    position:absolute;
    width:18px;
}
.bars::before{
    top:5px;
}
.bars::after{
    top:-5px;
}

/* TABLET MENU */

@media all and (min-width:468px){
    .menu{
        justify-content:center;
    }
    .logo{
        flex:1;
    }
    .item.button{
        width:auto;
        order:1;
        display:block;
    }
    .toggle{
        order:2;
    }
    .button.secondary{
        border:0;
    }
    .button a{
        text-decoration:none;
        padding:7px 15px;
        background:teal;
        border:1px solid #006d6d;
        border-radius:50em;
    }
    .button.secondary a{
        background:transparent;
    }
    .button a:hover{
        transition:all .25s;
    }
    .button:not(.secondary) a:hover{
        background:#006d6d;
        border-color:#005959;
    }
    .button.secondary a:hover{
        color:#ddd;
    }
}

@media all and (min-width: 768px){
    .item{
        display:block;
        width:auto;
    }
    .toggle{
        display:none;
    }
    .logo{
        flex:3;
        order:0;
    }
    .item{
        flex:3;
        order:1;
    }
    .button{
        order:2;
        flex:1;
    }

    .menu li{
        padding:15px 10px;
    }
    .menu li.button{
        padding-right:0;
    }

    div.summary{
        display:flex;
        flex-wrap:wrap;
        background-color:white;
        display:flex;
    }
    div.summary .mid{
        background-color:white;
        font-family:Lucida Console;
        font-size:24px;
        padding-bottom:10px;
    }
    div.summary .mid h1{
        font-family:Verdana;
    }
    div.summary .side{
        background-color:white;
    }
    main{
        display:flex;
        flex-wrap:wrap;
        background-color:white;
        height:1000px;
    }
    span.side{
        padding:10px;
        display:flex;
        flex:1;
    }
    span.mid-article{
        color:white;
        display:flex;
        flex-wrap:wrap;
        flex:5;
        padding-top:50px;
        justify-content:space-between;
    }
    span.mid-article article{
        display:flex;
        justify-content:center;
        align-items:center;
        width:30%;
        text-decoration:none;
        padding:7px 15px;
        background:teal;
        border:1px solid #006d6d;
        border-radius:30px;
        height:200px;
        color:white;
        font-family:Andale Mono;
        font-size:24px;
    }
    .topic:hover{
        transition:all .25s;
        background:#006d6d;
        border-color:#005959;
        cursor:pointer;
        color:#ddd;
    }
    .topic a{
        text-decoration:none;
    }
    .back a{
        color:blue;
        text-decoration:underline;
    }
    article a {
        color:white;
    }
}